*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color:#090A0E;
}
.liste1{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 1%;
}

.spé1{
    display: flex;
    margin: 1%;
}
li{
    display: flex;
    margin-right: 5%;
    font-size: 25px;
    font-family: 'Segoe UI';
    color: rgb(116, 0, 248);
}


.boss{
    font-size: 30px;
    color: rgb(116, 0, 248);
}

.ctrl{
    display: flex;
    justify-content: space-around;

    align-items: center;
  
    
}

.ctrl1{
    display: flex;
    justify-content:center;
  width: 80%;
    align-items: center;
    margin-top: 10%;
    flex-wrap: wrap;
}
.gauche{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 50%;
    height: 50vh;
   
}
.droit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 60vh;
   margin-right: 8%;
    background-image: url("https://i.pinimg.com/736x/bf/f7/9b/bff79bd65e63067782714cdde1df28d4.jpg");
background-repeat: no-repeat;
background-size: cover;}

span{
    display: block;
    margin-bottom: 2%;
    font-family:'Franklin Gothic Medium';
    margin-left: 20%;
}
p1{
    font-size: 3rem;
  color: white;
  
  display: block;
  margin-bottom: 1%;
  
}

p2{
    display: block;
    font-size: 5rem;
    color: white;
    margin-bottom: 3%;
    text-decoration:0.5rem underline rgb(116, 0, 248);
  }
  p3{
    display: block;
    font-size: 3rem;
    color: white;
    margin-bottom: 5%;
    width: 100%;
  
  }
  p4{
   
    font-size: 3rem;
    color:rgb(116, 0, 248) ;
    margin-bottom: 15%;
  }
  p5{
    display: block;
    font-size: 1.5rem;
    color: white;
    background-color:rgb(116, 0, 248) ;
    border-radius: 1rem;
padding: 0.6rem;
margin-bottom: 10%;
width: 80%;
text-align: center;
  }

  p6{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
   width: 70%;
   margin-left: 2%;
   
  }
  
  @media (min-width:1660px) and (max-width:1875px) {
    p1{
      font-size: 3rem;
    color: white;
    
    display: block;
    margin-bottom: 1%;
    
  }
  
  p2{
      display: block;
      font-size: 4rem;
      color: white;
      margin-bottom: 3%;
      text-decoration:0.5rem underline rgb(116, 0, 248);
    }
    p3{
      display: block;
      font-size: 2rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
    p4{
     
      font-size: 2.5rem;
      color:rgb(116, 0, 248) ;
      margin-bottom: 15%;
    }
    p5{
      display: block;
      font-size: 1.5rem;
      color: white;
      background-color:rgb(116, 0, 248) ;
      border-radius: 1rem;
  padding: 0.4rem;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
    }
  
    p6{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
     width: 100%;
     margin-left: 2%;
     
    }
  }
  @media (min-width:1400px) and (max-width:1659px) {
    p1{
      font-size: 3rem;
    color: white;
    
    display: block;
    margin-bottom: 1%;
    
  }
  
  p2{
      display: block;
      font-size: 4rem;
      color: white;
      margin-bottom: 3%;
      text-decoration:0.5rem underline rgb(116, 0, 248);
    }
    p3{
      display: block;
      font-size: 2rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
    p4{
     
      font-size: 2.5rem;
      color:rgb(116, 0, 248) ;
      margin-bottom: 15%;
    }
    p5{
      display: block;
      font-size: 1.5rem;
      color: white;
      background-color:rgb(116, 0, 248) ;
      border-radius: 1rem;
  padding: 0.4rem;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
    }
  
    p6{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
     width: 100%;
     margin-left: 2%;
     
    }
      .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 65vh;
        margin-left: 5%;
        background-image: url("https://i.pinimg.com/736x/bf/f7/9b/bff79bd65e63067782714cdde1df28d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-right: 8%;
        width: 50%;
        height: 50vh;
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: nowrap;
    }
  }
  @media (min-width:1200px) and (max-width:1399px) {
    p1{
        font-size: 2rem;
      color: white;
      
      display: block;
      margin-bottom: 1%;
      
    }
    
    p2{
        display: block;
        font-size: 4rem;
        color: white;
        margin-bottom: 3%;
        text-decoration:0.5rem underline rgb(116, 0, 248);
      }
      p3{
        display: block;
        font-size: 2rem;
        color: white;
        margin-bottom: 3%;
      
      }
      p4{
        
        font-size: 2rem;
        color:rgb(116, 0, 248) ;
        margin-bottom: 3%;
      }
      p5{
        display: block;
        font-size: 1rem;
        color: white;
        background-color:rgb(116, 0, 248) ;
        border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 6%;
    width: 90%;
    text-align: center;
      }
    
      p6{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
       width: 40%;
       
      }
      .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 70vh;
        margin-left: 5%;
        background-image: url("https://i.pinimg.com/736x/bf/f7/9b/bff79bd65e63067782714cdde1df28d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8%;
        width: 50%;
        height: 50vh;
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: nowrap;
    }
  }
  @media (min-width:1000px) and (max-width:1199px) {
    .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 65vh;
        margin-left: 5%;
        background-image: url("https://i.pinimg.com/736x/bf/f7/9b/bff79bd65e63067782714cdde1df28d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
       
        margin-right: 8%;
        width: 50%;
        height: 50vh;
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: nowrap;
    }
    p1{
        font-size: 1.5rem;
      color: white;
      
      display: block;
      margin-bottom: 1%;
      
    }
    
    p2{
        display: block;
        font-size: 3rem;
        color: white;
        margin-bottom: 3.5%;
        text-decoration:0.5rem underline rgb(116, 0, 248);
      }
      p3{
        display: block;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 3%;
      
      }
      p4{
        
        font-size: 2rem;
        color:rgb(116, 0, 248) ;
        margin-bottom: 3%;
      }
      p5{
        display: block;
        font-size: 1rem;
        color: white;
        background-color:rgb(116, 0, 248) ;
        border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 6%;
    width: 80%;
    text-align: center;
      }
    
      p6{
        margin-top: 8%;
        display: flex;
        justify-content: space-around;
       width: 80%;
       
      }
  }

  @media (min-width:500px) and (max-width:1000px) {

    .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 65vh;
       margin-right: 5%;
        background-image: url("https://i.pinimg.com/736x/bf/f7/9b/bff79bd65e63067782714cdde1df28d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8%;
        width: 50%;
        height: 50vh;
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: wrap;
    }
    p1{
        font-size: 1.5rem;
      color: white;
      
      display: block;
      margin-bottom: 1%;
      
    }
    
    p2{
        display: block;
        font-size: 3rem;
        color: white;
        margin-bottom: 3.5%;
        text-decoration:0.5rem underline rgb(116, 0, 248);
      }
      p3{
        display: block;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 3%;
      
      }
      p4{
        
        font-size: 2rem;
        color:rgb(116, 0, 248) ;
        margin-bottom: 3%;
      }
      p5{
        display: block;
        font-size: 1rem;
        color: white;
        background-color:rgb(116, 0, 248) ;
        border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 6%;
    width: 80%;
    text-align: center;
      }
    
      p6{
        margin-top: 8%;
        display: flex;
        justify-content: space-around;
        width: 70%;
   
       
      }
  }