*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: rgba(25, 49, 66, 0.979);
}
.liste1{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 1%;
}

.spé1{
    display: flex;
    margin: 1%;
}
li{
    display: flex;
    margin-right: 5%;
    font-size: 25px;
    font-family: 'Segoe UI';
    color: rgb(116, 0, 248);
}


.boss{
    font-size: 30px;
    color: rgb(116, 0, 248);
}


.ctrl1{
    display: flex;
    justify-content: space-around;
  
    align-items: center;
    margin-top: 10%;
    
}
.gauche{
    width: 50%;
    height: 50vh;
    border: 2px solid white;
}
.droit{
    width: 30%;
    height: 50vh;
    border: 2px solid white;
}