*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color:#090A0E;
   
}
.liste1{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 1%;
}

.spé1{
    display: flex;
    margin: 1%;
}
li{
    display: flex;
    margin-right: 5%;
    font-size: 25px;
    font-family: 'Segoe UI';
    color: white;
 
}


.boss{
    font-size: 30px;
    color: rgb(116, 0, 248);

}

.ctrl{
    display: flex;
    justify-content: space-around;

    align-items: center;
  
    
}

.ctrl1{
    display: flex;
    justify-content:center;
  width: 80%;
    align-items: center;
    margin-top: 10%;
    flex-wrap: wrap;
}
.gauche{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 50%;
    height: 50vh;
   
}
.droit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 60vh;
   margin-right: 8%;
    background-image: url("https://i.pinimg.com/736x/ee/20/9f/ee209f8d65299e2e76437932b3fa53d4.jpg");
background-repeat: no-repeat;
border: 2px solid  rgb(116, 0, 248);
border-radius: 10%;
background-size: cover;}

span{
    display: block;
    margin-bottom: 2%;
    font-family:'Franklin Gothic Medium';
    margin-left: 20%;
}
p1{
    font-size: 3rem;
  color: white;
  
  display: block;
  margin-bottom: 1%;
  
}

p2{
    display: block;
    font-size: 5rem;
    color: white;
    margin-bottom: 3%;
  
  }
  p3{
    display: block;
    font-size: 3rem;
    color: white;
    margin-bottom: 5%;
    width: 100%;
  
  }
  p4{
   
    font-size: 3rem;
    color:rgb(116, 0, 248) ;
    margin-bottom: 15%;
    
  }
  p5{
    display: block;
    font-size: 1.2rem;
    color: white;
    background-color:rgb(116, 0, 248) ;
    border-radius: 1rem;
padding: 0.4rem;
margin-bottom: 10%;
width: 100%;
text-align: center;
font-family: "Atkinson Hyperlegible Next";
  }

  p6{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
   width: 100%;
   margin-left: 2%;
   text-align: center;
   
  }
  .haha{
    display: none;
 
  }
  button{
   display: none;
  
  
  }
     
    
  @media (min-width:1660px) and (max-width:1875px) {
    p1{
      font-size: 3rem;
    color: white;
    
    display: block;
    margin-bottom: 1%;
    
  }
  
  p2{
      display: block;
      font-size: 4rem;
      color: white;
      margin-bottom: 3%;
      text-decoration:0.5rem underline rgb(116, 0, 248);
    }
    p3{
      display: block;
      font-size: 2rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
    p4{
     
      font-size: 2.5rem;
      color:rgb(116, 0, 248) ;
      margin-bottom: 15%;
    }
    p5{
      display: block;
      font-size: 1.5rem;
      color: white;
      background-color:rgb(116, 0, 248) ;
      border-radius: 1rem;
  padding: 0.4rem;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
    }
  
    p6{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
     width: 100%;
     margin-left: 2%;
     
    }
    span{
      display: block;
      margin-bottom: 2%;
      font-family:'Franklin Gothic Medium';
      margin-left: 10%;
  }
  .haha{
    display: none;
 
  }
  }
  @media (min-width:1400px) and (max-width:1659px) {
    p1{
      font-size: 3rem;
    color: white;
    
    display: block;
    margin-bottom: 1%;
    
  }
  
  p2{
      display: block;
      font-size: 4rem;
      color: white;
      margin-bottom: 3%;
      text-decoration:0.5rem underline rgb(116, 0, 248);
    }
    p3{
      display: block;
      font-size: 2rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
    p4{
     
      font-size: 2.5rem;
      color:rgb(116, 0, 248) ;
      margin-bottom: 15%;
    }
    p5{
      display: block;
      font-size: 1.3rem;
      color: white;
      background-color:rgb(116, 0, 248) ;
      border-radius: 1rem;
  padding: 0.4rem;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
    }
  
    p6{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
     width: 100%;
     margin-left: 2%;
     
    }
      .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 65vh;
        margin-left: 5%;
        background-image: url("https://i.pinimg.com/736x/ee/20/9f/ee209f8d65299e2e76437932b3fa53d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-right: 8%;
        width: 50%;
        height: 50vh;
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: nowrap;
    }
    span{
      display: block;
      margin-bottom: 2%;
      font-family:'Franklin Gothic Medium';
      margin-left: 10%;
  }
  .haha{
    display: none;
 
  }
  }
  @media (min-width:1200px) and (max-width:1399px) {
    p2{
      display: block;
      font-size: 3.5rem;
      color: white;
      margin-bottom: 3%;
      text-decoration:0.5rem underline rgb(116, 0, 248);
    }
    p3{
      display: block;
      font-size: 2.3rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
      p3{
      display: block;
      font-size: 1.5rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
    p4{
     
      font-size: 1.8rem;
      color:rgb(116, 0, 248) ;
      margin-bottom: 15%;
    }
    p6{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
     width: 80%;
     margin-left: 2%;
     text-align: center;
     
    }
       p5{
      display: block;
      font-size: 1.3rem;
      color: white;
      background-color:rgb(116, 0, 248) ;
      border-radius: 1rem;
  padding: 0.4rem;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
    }
  
      .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 70vh;
        margin-left: 3%;
        background-image: url("https://i.pinimg.com/736x/ee/20/9f/ee209f8d65299e2e76437932b3fa53d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
        width: 50%;
        height: 50vh;
      
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: nowrap;
    }
    span{
      display: block;
      margin-bottom: 2%;
      font-family:'Franklin Gothic Medium';
      margin-left: 10%;
      width: 100%;
  }
  .haha{
    display: none;
 
  }
  }
  @media (min-width:1000px) and (max-width:1199px) {
    p2{
      display: block;
      font-size: 3.3rem;
      color: white;
      margin-bottom: 3%;
      text-decoration:0.5rem underline rgb(116, 0, 248);
    }
 
      p3{
      display: block;
      font-size: 1.5rem;
      color: white;
      margin-bottom: 5%;
      width: 100%;
    
    }
    p4{
     
      font-size: 2.5rem;
      color:rgb(116, 0, 248) ;
      margin-bottom: 15%;
    }
    p6{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
     width: 100%;
     margin-left: 2%;
     text-align: center;
     
    }
       p5{
      display: block;
      font-size: 1.2rem;
      color: white;
      background-color:rgb(116, 0, 248) ;
      border-radius: 1rem;
  padding: 0.6rem;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
    }
  
      .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 70vh;
        margin-left: 3%;
        background-image: url("https://i.pinimg.com/736x/ee/20/9f/ee209f8d65299e2e76437932b3fa53d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .gauche{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
        width: 50%;
        height: 50vh;
      
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 10%;
        flex-wrap: nowrap;
    }
    span{
      display: block;
      margin-bottom: 2%;
      font-family:'Franklin Gothic Medium';
      margin-left: 2%;
      width: 100%;
  }
  .haha{
    display: none;
 
  }
  }

  @media (min-width:00px) and (max-width:999px) {
    .btn12{
      display: block;
  }
   
   
.boss{
  font-size: 30px;
  color: rgb(116, 0, 248);


}
   
    .liste1{
      display: flex;
      justify-content: space-between;
      align-items:center ;
      margin-top: 3%;
      margin-left: 3%;
      margin-right: 3%;
      z-index: 1;
     
    }  
    .spé1{
      
      display: none;
      margin-top: 10%;
     justify-content: center;
     align-items:center ;
      width: 100%;
  
  height: 40vh;
  }
  li{
 
    display: flex;
    margin-top: 0%;
    margin-bottom: 10%;
    margin-right: 0%;
    font-size: 15px;
    font-family: 'Segoe UI';
    color: white;
    display:flex ;
    justify-content: center;
    text-align: center;
    
}
.haha{
  display: flex;

}

    .droit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 80vh;
       margin-right: 2%;
        background-image: url("https://i.pinimg.com/736x/ee/20/9f/ee209f8d65299e2e76437932b3fa53d4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 
  }
    .gauche{
      margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        width: 50%;
        height: 50vh;
        
       
    }
    .ctrl1{
        display: flex;
        justify-content: space-around;
      width: 100%;
        align-items: center;
        margin-top: 0%;
        flex-wrap: wrap;
        z-index: 1;

    }
    p1{
        font-size: 1.5rem;
      color: white;
      
      display: block;
      margin-bottom: 1%;
      
    }
    
    p2{
        display: block;
        font-size: 3rem;
        color: white;
        margin-bottom: 3.5%;
        text-decoration:0.5rem underline rgb(116, 0, 248);
      }
      p3{
        display: block;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 3%;
      
      }
      p4{
        
        font-size: 2rem;
        color:rgb(116, 0, 248) ;
        margin-bottom: 3%;
      }
      p5{
        display: block;
        font-size: 1rem;
        color: white;
        background-color:rgb(116, 0, 248) ;
        border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 6%;
    width: 100%;
    text-align: center;
      }
    
      p6{
        margin-top: 8%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
       
      }
      span{
        display: block;
        margin-bottom: 2%;
        font-family:'Franklin Gothic Medium';
        margin-left: 0%;
        text-align: center;
    }
    button{
      width: 5%;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      text-align: center;
      border: none;
      background-color: white;
    }
  }