* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background:whitesmoke;

}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.logo {
  font-size: 2rem;
  color:#D8C5A5;
  
  font-family: Oswald;
}

.nav-links {
  display: flex;
  gap: 2rem;
  
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;

  font-family: Oswald;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(216, 197, 165);
  
}

.burger,
.close-btn {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


.boss {
  font-size: 30px;
 color: RGB(216, 197, 165);

  font-family: Oswald;

}

.ctrl {
  display: flex;
  justify-content: space-around;

  align-items: center;


}

.ctrl1 {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin-top: 5%;
  flex-wrap: wrap;
}

.gauche {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  width: 50%;
  height: 60vh;

}

.droit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 60vh;
  margin-left: 8%;
  background-image: url("ChatGPT\ Image\ 18\ juin\ 2025\,\ 12_04_40.png");
  background-repeat: no-repeat;

  border-radius: 10%;
  background-size: cover;
}

span {
  display: block;
  justify-content: flex-end;
  margin-bottom: 2%;
  font-family: 'Franklin Gothic Medium';
  margin-left: 20%;
  width: 100%;
}

p1 {
  font-size: 3rem;
  color: black;

  display: block;
  margin-bottom: 1%;

}

p2 {
  display: block;
  font-size: 5rem;
  color: black;
  margin-bottom: 3%;

}

p3 {
  display: block;
  font-size: 3rem;
  color: black;
  margin-bottom: 5%;
  width: 100%;

}

p4 {

  font-size: 3rem;
  color: #D8C5A5;
  margin-bottom: 15%;

}

p5 {
  display: block;
  font-size: 1.2rem;
  color: black;
  background-color: #D8C5A5;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-bottom: 0%;
  width: 100%;
  text-align: center;
  font-family: "Atkinson Hyperlegible Next";
}

p6 {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 0%;
  text-align: center;
  

}

.haha {
  display: none;

}

button {
  display: none;
}

#popo {
  margin-top: 50vh;
  font-size: 40px;
  color: white;
}

#projet {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.projet1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.carre {

  width: 35%;
  height: auto;
border: 3rem solid #504E59;
border-radius: 5%;
}

.carre1 {
  width: 30%;
}

.carre1 img {
  width: 100%;
  height: auto;
  border-radius: 4%;

}

.carre img {
  width: 100%;
  height: auto;


}

p {
  display: none;
}

p50 {
  color: black;
  font-size: 20px;
  margin-bottom: 2%;
  margin: 2%;
  width: 41%;
  font-family: 'Franklin Gothic Medium';
}

p30 {
  color: black;
  font-size: 20px;
  margin-bottom: 2%;
  margin: 2%;
  width: 50%;
  text-align: center;
  font-family: 'Franklin Gothic Medium';
}

#Pro {
  font-size: 2rem;
  margin-bottom: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium';
  color: RGB(216, 197, 165);
  text-decoration: 0.4rem underline RGB(216, 197, 165);

  font-family: 'Franklin Gothic Medium';
}

.titredd {
  display: none;
  font-family: 'Franklin Gothic Medium';
}

a {
  text-decoration: none;
  color: black;
}

.ds3{
display: none;
width: 8%;
border-radius: 2%;
margin-left: 2%;
margin-top: 0%;
background-color:  RGB(216, 197, 165) ;

justify-content: center;
align-items:center;
}
.stacks{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10%;
  text-align: center;
  align-items: center;

}
P77{
  text-align: center;
  align-items: center;
  display: block;
  color: white;
  font-size: 20PX;
  font-family: 'Franklin Gothic Medium';
}
p74{  font-size:25px;
  text-align: center;
  display: block;
  color: RGB(216, 197, 165) ;
  margin-top: 5%;
  font-family: 'Franklin Gothic Medium';
}
.yaoo{
  display: block;
}
#june{
  margin-bottom: 50%;
}
.competances{
  margin-top: 10rem;
 
 color:  RGB(216, 197, 165);;
  
  font-family: 'Franklin Gothic Medium';
  
  
}
#Projets{
  
  margin-top: 10rem;
 
 color:  RGB(216, 197, 165) ;
  
  font-family: 'Franklin Gothic Medium';
  
  
}

.cards-container {
  margin-top: 5rem;
  display: flex;
  gap: 40px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  font-weight: bold;
  margin: 0 0 10px;
}

.card img {
  width:100px;
  height: 60px;
  filter: grayscale(100%) brightness(0);
}
.carte-photo {
  width: 40%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
}


.carte-photo:hover {
  transform: translateY(-5px);
}

.carte-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.titre-carte {
  margin: 10px 0 5px;
  font-size: 18px;
}

.description-carte {
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}
.haut{
  text-align: center;
  margin-bottom: 1rem;
}
.haut1{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.p8{ 
  display: flex;
  font-size: 1.5rem;
  color: black;
  border-radius: 1rem;
  margin-bottom: 2%;
  margin-top: 2rem;
  width: 50%;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  text-spacing-trim: 1rem;
  
  font-family: Oswald;
}
.chef{
  margin-top: 1rem;
  color: white;
}

@media (min-width:1660px) and (max-width:1875px) {
  p2 {
    font-size: 4rem;
    
  }

  p3 {
    font-size: 2rem;
  }

  p4 {
    font-size: 2.5rem;
  }

  p5 {
    font-size: 1.5rem;
  }

  span {
    margin-left: 10%;
  }

  .carre {
    margin-left: 0%;
  }

  p {
    color: white;
    font-size: 20px;
  }

  #projet {

    margin-top: 5%;
  }

  p30 {

    width: 40%;
  }

  p50 {
    width: 40%;
  }
  .carte-photo {
  width: 40%;

}
.p8{ 
  display: flex;
  font-size: 1.5rem;
  color: black;
  border-radius: 1rem;
  margin-bottom: 0%;
  margin-top: 2rem;
  width: 60%;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  
  font-family: "Atkinson Hyperlegible Next";
}
}

@media (min-width:1400px) and (max-width:1659px) {
  p2 {
    font-size: 4rem;
  }

  p3 {
    font-size: 2rem;
  }

  p4 {
    font-size: 2.5rem;
  }

  p5 {
    font-size: 1.3rem;
  }


  #projet {

    margin-top: 5%;
  }

  p30 {

    width: 50%;
  }

  p50 {
    width: 50%;
  }
.carte-photo {
  width: 50%;

}
}

@media (min-width:1200px) and (max-width:1399px) {

  p2 {
    font-size: 3.5rem;
  }

  p3 {
    font-size: 1.5rem;
  }

  p4 {
    font-size: 1.8rem;
  }

  p5 {
    font-size: 1.3rem;
    width: 100%;
  }

  p6 {
    width: 80%;
  }

  
  #projet {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  p30 {

    width: 50%;
  }

  p50 {
    width: 50%;
  }
  .carte-photo {
  width: 50%;

}
.ctrl1 {
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
.p8{ 
  width: 50%;
}
}

@media (min-width:1000px) and (max-width:1199px) {

  p2 {
    font-size: 3.3rem;
  }

  p3 {

    font-size: 1.3rem;
  }

  p4 {
    font-size: 2.5rem;

  }

  p5 {
    padding: 0.6rem;
  }

  

  .ctrl1 {
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }

  span {
    margin-right: 10%;
  }

  .carre {
    width: 40%;
    height: auto;
    margin-right: 3%;
  }

  .carre1 {
    width: 40%;
    margin-left: 3%;
  }

  p30 {
    width: 50%;
  }

  p50 {
    width: 50%;
  }
    .carte-photo {
  width: 60%;

}
.p8{ 
  width: 70%;
}
}

@media (max-width: 999px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    display: none;
    background-color: whitesmoke;;
  }

  .burger {
    display: block;
    
  }

  .close-btn {
    display: none;
  }

  .nav-links.active {
    display: flex;
    z-index: 10;

  }

  .close-btn.active {
    display: block;
    position: absolute;
    right: 2rem;
  }

  .burger.hide {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    
    background-color: whitesmoke;
  }
}

@media (min-width:785px) and (max-width:999px) {
  .liste1 {

    justify-content: space-between;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 3%;
    z-index: 1;
    width: 100%;
  }

  .boss {
    margin-left: 10%;

  }

  li {
    margin-top: 0%;
    margin-bottom: 20%;
    margin-right: 0%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    width: 20%;
    z-index: 1;
  }

  .spé1 {
    display: none;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 0%;
    z-index: 1;
    height: 5vh;
  }

  .haha {
    display: flex;
  }

  .droit {
    width: 70%;
    height: 80vh;
    margin-right: 0%;
  }

  .gauche {
    margin-top: 10%;
    margin-left: 0%;
    width: 70%;
  }

  .ctrl1 {
    width: 100%;
    margin-top: 0%;
    z-index: 1;
  }

  p1 {
    font-size: 1.5rem;
  }

  p2 {
    font-size: 3rem;
  }

  p3 {
    font-size: 1.5rem;
  }

  p4 {
    font-size: 2rem;
  }

  p5 {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-bottom: 6%;
    width: 80%;
  }
 p6 {
  justify-content: space-around;
  }
  span {
    margin-left: 0%;
    text-align: center;
  }

  button {
    width: 5%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: white;
  }

  #ehehe {
    display: block;
    margin-top: 0%;
  }

  #projet {
    flex-wrap: wrap;
  }

  #projet1 {
    flex-wrap: wrap;
  }

  .carre {
    width: 60%;
  }

  .carre1 {
    width: 60%;

  }

  p {
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin: 2%;
    display: block;
    text-align: center;
    width: 30%;
  }

  p50 {
    display: none;
  }

  p30 {
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin: 2%;
    text-align: center;
  }

  .titredd {

    color: white;
    font-size: 2rem;
    display: block;
    margin-bottom: 5%;
  }

  p30 {

    width: 50%;
  }

  p {
    width: 50%;
    font-family: 'Franklin Gothic Medium';
  }

  .ds3{
    width: 3%;
  }
  
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.competances{
  margin-top: 2rem;
  font-size: 2rem;
}
#Projets{
   margin-top: 2rem;
   
  font-size: 2rem;
}
.carte-photo {
width: 70%;
}

  .p8{
font-size: 1.3rem;
  font-family: "Atkinson Hyperlegible Next";
width: 90%;
margin-top: 2rem;
margin-bottom: 0rem;
  }
  .haut{
    font-size: 1.2rem;
}
.gauche{
  width: 100%;
}
}
@media (min-width:520px) and (max-width:784px) {


  .liste1 {
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 3%;
    width: 100%;
  }

  
  .boss {
    margin-left: 10%;

  }

  li {
    margin-top: 0%;
    margin-bottom: 20%;
    margin-right: 0%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    width: 20%;
    z-index: 1;
  }


  .spé1 {

    display: none;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 0%;
    z-index: 1;
    height: 5vh;
  }

  .haha {
    display: flex;

  }

  .ctrl1 {

    justify-content: space-around;
    width: 100%;
    margin-top: 0%;
    z-index: 1;

  }

  p1 {
    font-size: 1.5rem;
    margin-bottom: 1%;
  }

  p2 {
    font-size: 2.5rem;
    margin-bottom: 3.5%;
  }

  p3 {
    font-size: 1rem;
    margin-bottom: 3%;
  }

  p4 {
    font-size: 1.5rem;
    margin-bottom: 3%;
  }

  p5 {
    
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 6%;
      width: 80%;

  }

  p6 {
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: space-around;
  }

  button {
    width: 5%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: white;
  }

  #ehehe {
    display: block;
    margin-top: 0%;
  }

  #projet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  #projet1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .droit {
    width: 80%;
    height: 80vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }

  .gauche {
    margin-top: 10%;
    margin-left: 0%;
    width: 70%;
  }

  .carre {
    width: 60%;

  }

  .carre1 {
    width: 60%;

  }


  span {
    margin-left: 0%;
    text-align: center;
  }

  p {
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin: 2%;
    display: block;
    text-align: center;
    width: 30%;
  }

  p50 {
    display: none;
  }

  p30 {
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin: 2%;
    text-align: center;
  }

  .titredd {
    color: white;
    font-size: 2rem;
    display: block;
    margin-bottom: 5%;
  }

  p30 {
    width: 80%;
  }

  p {
    width: 80%;
    font-family: 'Franklin Gothic Medium';
  }
  .ds3{
    width: 5%;
  }
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  margin-top: 2rem;
}
.competances{
  margin-top: 2rem;
  font-size: 2rem;
}
#Projets{
   margin-top: 2rem;
   
  font-size: 2rem;
}
.carte-photo {
width: 90%;
}

  .p8{
font-size: 1.3rem;
width: 90%;

margin-top: 2rem;
margin-bottom: 0rem;
  }
  .haut{font-size: 1.2rem;
}
.gauche{
  width: 100%;
}
}

@media (min-width:0px) and (max-width:519px) {


  .liste1 {
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 3%;
    width: 100%;
  }

  .boss {
    margin-left: 10%;
  }

  li {
    margin-top: 0%;
    margin-bottom: 10%;
    margin-right: 0%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    width: 20%;
    z-index: 1;
  }


  .spé1 {
    display: none;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 0%;
    z-index: 1;
    height: 5vh;
  }



  .haha {
    display: flex;
  }


  .ctrl1 {
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 1%;
    z-index: 1;
  }

  p1 {
    font-size: 1.5rem;
    margin-bottom: 1%;
  }

  p2 {
    font-size: 2rem;
    margin-bottom: 3.5%;
  }

  p3 {
    font-size: 1rem;
    margin-bottom: 3%;
  }

  p4 {
    font-size: 1.2rem;
    margin-bottom: 3%;
  }

  p5 {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 6%;
  width:90%;
  }

  p6 {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-around;
  }

  button {
    width: 5%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: white;
  }

  #ehehe {
    display: block;
    margin-top: 0%;
  }

  #projet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

  }

  #projet1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 20%;
  }

  .droit {
    width: 90%;
    height: 50vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }

  .gauche {
    margin-top: 0%;
    margin-left: 0%;
    width: 85%;
  }

  .carre {
    width: 85%;

  }

  .carre1 {

    width: 85%;

  }

  span {
    margin-left: 0%;
    text-align: center;

  }

  p {
    color: white;
    font-size: 15px;
    margin-bottom: 2%;
    margin: 2%;
    display: block;
    text-align: center;
    width: 30%;
  }

  p50 {
    display: none;
  }

  p30 {
    color: white;
    font-size: 15px;
    margin-bottom: 2%;
    margin: 2%;
    text-align: center;
  }

  .titredd {
    color: white;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 10%;
  }

  p30 {
    width: 90%;
  }

  p {
    width: 90%;
    font-family: 'Franklin Gothic Medium';
  }

  .stacks{
    justify-content: center;
    
  }
  .yaoo{
    margin: 2%;
  }
  .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  margin-top: 2rem;
}
.competances{
  margin-top: 2rem;
  font-size: 2rem;
}
#Projets{
   margin-top: 2rem;
   
  font-size: 2rem;

}
.carte-photo {
width: 90%;
}

  .p8{
font-size: 1rem;
  font-family: "Atkinson Hyperlegible Next";
width: 90%;
margin-top: 2rem;
margin-bottom: 0rem;
  }
  .haut{
    font-size: 1.2rem;
}
.gauche{
  width: 100%;
}
}